.inputDate {
    width: 20%;
    display: inline;
}
.btnClose {
    display: inline;
}

.totalGasto {
    text-align: center;
}

.btnVoltar {
    text-align: right;
}
.btn-purple {
    color: #ffffff;
    background-color: mediumpurple;
    border-color: mediumpurple;
}
.btn-purple :hover {
    color: #ffffff;
}
