@{
    ViewData["Title"] = "Sobre";
}

<h2 style="text-align:center">@ViewData["Title"] </h2>

<h3>Tecnologias/Ferramentas usadas:</h3>
<ul>
    <li title="Linguagem de programação">C#, ASP.NET Core MVC</li>
    <li title="Banco de dados">Sql Server</li>
    <li title="Framework para geração do banco">Entity Framework</li>
    <li title="Versionador de fontes">Git</li>
    <li>
        <a href="https://github.com/DiuariMolinari/SPT">GitHub</a>
    </li>
    
</ul>

