@{
    ViewData["Title"] = "Contatos";
}

<h2 style="text-align:center">@ViewData["Title"] </h2>
<br>
<br>
<br>
<h4 style="text-align:center">Diuari Molinari</h4>

<address style="text-align:center">
    <strong>E-mail:</strong> <a href="mailto:diuari.molinari@alunos.sc.senac.br">diuari.molinari@alunos.sc.senac.br</a><br />
</address>
