@{
    ViewData["Title"] = "Contatos";
}
<head>
    <link rel="stylesheet" href="@Url.Content("~/css/Home/Contact.css")">
</head>

<h2 class="titulo" >@ViewData["Title"] </h2>
<h4 class="nome" >Diuari Molinari</h4>

<address class="titulo">
    <strong>E-mail:</strong> <a href="mailto:diuari.molinari@alunos.sc.senac.br">diuari.molinari@alunos.sc.senac.br</a><br />
</address>

<h4 class="nome" >Fábio Domingues</h4>

<address class="titulo">
    <strong>E-mail:</strong> <a href="mailto:fabio.domingues@alunos.sc.senac.br">fabio.domingues@alunos.sc.senac.br</a><br />
</address>
