.swal-wide {
    width: 25% !important;
    height: 95% !important;
}
.swal2-content {
    font-size: x-large !important;
    font-family: Consolas;
}
.h2, .swal2-title {
    font-size: x-large !important;
    font-family: Consolas;
}

