<h1 style="text-align:center">Oops!</h1>
<h2 style="color:red;text-align:center">@ViewBag.ErrorMessage</h2>
<div style="text-align:center; padding-top: 30px">
    <a asp-action="Index" class="btn btn-default">Voltar</a>
</div>
