<head>
    <link rel="stylesheet" href="@Url.Content("~/css/Funcionarios/Error.css")">
</head>

<h1 class="ops">Oops!</h1>
<h2 class="errorMessage">@ViewBag.ErrorMessage</h2>
<div class="btnVoltar">
    <a asp-action="Index" class="btn btn-default">Voltar</a>
</div>
